html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  border-top: 10px solid #f24040;
  background: white url("connect4.png") no-repeat center top;
}

.circle {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px;
  transition: border 0.2s ease 0s, background 0.4s, opacity 0.8s;
}

.gray { background: #d9d9d9; }
.cyan { background: #40c2f2; }
.pink { background: #f24076; }


.tiny { border: 20px solid white; }
.col:hover .tiny:not(.gray) {
  animation: grow 0.4s ease 0s infinite alternate;
}

.done :not(.win).circle { opacity: 0.15;  }

@keyframes grow {
  from { border-width: 20px; }
  to   { border-width: 5px; }
}

.base {
  margin: -10px auto 0;
  width: 430px;
  height: 10px;
  background: #4087f2;
}

#board {
  margin: 160px auto 0;
  width: 430px;
  height: 380px;
  display: flex;
  padding: 5px;
}

.col {
  display: flex;
  flex-direction: column;
}
