html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  border-top: 10px solid #f24040;
  background: white;
}

.logo { margin-top: -10px; }

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  margin: 50px 0 5px;
  padding: 5px;
}

.col {
  display: flex;
  flex-direction: column;
}

.base {
  align-self: stretch;
  height: 10px;
  background: #4087f2;
}

.circle {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 25px;
  background: #d9d9d9;
  transform: scale(0.2);
  transition: transform 0.2s ease 0s, background-color 0.4s, opacity 0.8s;
}

.turn-pink .candidate, .pink { background: #f24076; }
.turn-cyan .candidate, .cyan { background: #40c2f2; }
.pink, .cyan { transform: none; }

.game-over .circle { opacity: 0.15; }
.game-over .win { opacity: 1; }

.col:hover .candidate { animation: grow 0.4s ease 0s infinite alternate; }
@keyframes grow {
  from { transform: scale(0.2) }
  to   { transform: scale(0.8); }
}
